@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex: 8.3% 1 1;
}

.col-2 {
  flex: 16.6% 1 1;
}

.col-3 {
  flex: 25% 1 1;
}

.col-4 {
  flex: 33.3% 1 1;
}

.col-5 {
  flex: 41.6% 1 1;
}

.col-6 {
  flex: 50% 1 1;
}

.col-7 {
  flex: 58.3% 1 1;
}

.col-8 {
  flex: 66.6% 1 1;
}

.col-9 {
  flex: 75% 1 1;
}

.col-10 {
  flex: 83% 1 1;
}

.col-11 {
  flex: 91.6% 1 1;
}

.col-12 {
  flex: 100% 1 1;
}

.topbar {
  background-color: white;
  padding: 30px 45px;
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo {
  margin-right: auto;
  width: 75px;
  height: 22px;
}

.nav .nav-link {
  color: #214e41;
  font-family: "Raleway", sans-serif;
  padding: 10px 25px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.nav .nav-link:hover {
  background-color: #43806c;
  color: white;
  border-radius: 6px;
  border: 0;
}

.topbar .nav-btn {
  display: none;
}

.nav .nav-button {
  margin: 0 20px 0 35px;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: #43806c;
  border-radius: 6px;
  border: 0;
}

@media screen and (max-width: 900px) {
  .topbar .nav-btn {
    font-size: 2em;
    padding-inline: 10px;
    padding-bottom: 3px;
    border: none;
    background-color: white;
    display: block;
    cursor: pointer;
  }

  .nav {
    display: none;
  }

  .drop:hover .nav {
    display: block;
    position: absolute;
    right: 1px;
    background-color: white;
    box-shadow: 3px 3px 10px black;
  }

  .topbar {
    justify-content: space-between;
  }

  .nav .nav-button {
    margin: 0 20px 0 35px;
    padding: 10px 14px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: white;
    background-color: #43806c;
    border-radius: 6px;
    border: 0;
  }
}

header {
  background-image: url(./img/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 675px;
  align-items: center;
  display: flex;
}

header h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #214e41;
  margin-bottom: 50px;
}

header span {
  margin-bottom: 5px;
  font-family: "Raleway", sans-serif;
  color: #214e41;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

header img {
  display: block;
  width: 280px;
  height: 60px;
}

header button {
  background-color: #43806c;
  border-color: #43806c;
  border-radius: 0px 6px 6px 0px;
  padding: 20px 35px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  border: 0;
  height: 60px;
}

header .section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header .header-section {
  margin-top: 30px;
}

header .section {
  justify-content: flex-end;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: baseline;
  max-width: 400px;
}

.header-section input {
  width: 280px;
  height: 60px;
  border: 0;

  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.section-1 {
  max-width: 1200px;
  margin: 0 auto;
  height: 171px;
  box-shadow: 3px 3px 20px black;
  margin-top: -90px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-1 .box {
  display: flex;
  flex-wrap: wrap;
}

.section-1 .box-1 {
  width: 358px;
}

.section-1 img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.section-1 h1 {
  font-family: "Raleway", sans-serif;
  color: #214e41;
  font-size: 16px;
  margin: 7px 0;
}

.section-1 p {
  font-family: "Raleway", sans-serif;
  color: #214e41;
  font-size: 14px;
  margin: 0;
}

@media screen and (max-width:900px) {
  .section-1 {

    height: 270px;
    box-shadow: 3px 3px 20px black;
    margin-top: -90px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-1 .box-1 {
    box-shadow: 1px 1px 8px;
    padding: 5px 5px;
    margin: 5px;
  }

  .section-1 .box {
    justify-content: center;
    max-width: 370px;
  }
}

.section-2 {
  max-width: 1200px;
  margin: 0 auto;
  height: 432px;
  margin-top: 120px;
}

.section-2 .box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
}

.section-2 .box-1 span {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.05000000074505806px;
  text-align: left;
  color: #43806c;
}

.section-2 .box-1 h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: #214e41;
}

.section-2 .box-1 p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.019999999552965164px;
  text-align: left;
  color: #757575;
}

.section-2 .box-1 a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.019999999552965164px;
  text-align: center;
  color: #214e41;
}

.section-3 {
  height: 640px;
  margin-top: 120px;
}

.section-3 .first {
  background-color: #e3eeed;
  display: flex;
  height: 640px;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.section-3 .first span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #214e41;
}

.section-3 .first h1 {
  font-family: "Roboto";
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #214e41;
}

.section-3 .first p {
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #43806c;
}

.section-3 .second {
  background-color: #214e41;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 640px;
}

.section-3 .second p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02px;
  color: #ffffff;
}

.section-4 {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
}

.section-4 .first span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806c;
}

.section-4 .first h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #214e41;
  margin-bottom: 50px;
}

.section-4 .first p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
}

.section-5 {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
  justify-content: center;
}

.section-5 .box h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #f0a446;
}

.section-5 .box p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.02px;
  color: #214e41;
}

.section-6 {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
  height: 500px;
}

.section-6 img {
  margin-left: 120px;
}

.section-6 .box {
  width: 500px;
}

.section-6 .box span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806c;
}

.section-6 .box h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #214e41;
}

.section-6 .box p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
}

.section-6 .box a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02px;
  color: #214e41;
}

.section-10 {
  background-image: url(./img/header2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 490px;
  display: flex;
}

.section-10 .box {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 100px;
}

.section-10 span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806c;
}

.section-10 h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #214e41;
}

.section-10 p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
}

.section-10 a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02px;
  color: #214e41;
}

.section-7 {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
}

.section-7 h1 {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #214E41;
}

.section-7 .box {
  justify-content: space-around;
  margin-top: 115px;
}

.section-8 {
  margin-top: 120px;
}
.section-8 .box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
}

.section-8 h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #214E41;
}

.section-8 p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806C;
}

.section-9 {
  display: flex;
  margin-top: 120px;
}

.section-9 .box {
  background-color: #E3EEED;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 629px;
}

.section-9 .img-box {
  height: 577px;
}

.section-9 .coment {
  display: flex;
  max-width: 423px;
  flex-direction: column;
  align-items: flex-start;
}

.section-9 h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #214E41;
}

.section-9 p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #214E41;
}

.section-9 button {
  background: #43806C;
  border: 1px solid #43806C;
  border-radius: 6px;
  padding: 13px 23px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02px;
  color: #FFFFFF;

}

footer {
  background-color: #214E41;
}

footer .content {
  max-width: 1200px;
  margin: 0 auto;
}

footer .box-1 {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  border-bottom: 1px solid white;
}

footer .box-1 .con-1 {
  display: flex;
  margin: 0;
}

footer .con-1 a {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
  text-decoration: none;
}

footer ul {
  margin: 0;
  margin-bottom: 93px;
}

footer input {
  background: #214E41;
  height: 52px;
  width: 300px;
  border: 1px solid white;
  margin-bottom: 30px;
}

footer .con-1 li {
  list-style-type: none;
  margin-top: 15px;
}

footer .con-1 h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.02px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

footer .box-1 .con-2 .bu {
  float: right;
  height: 52px;
}

footer .con-2 h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.02px;
  text-transform: uppercase;
  color: #FFFFFF;
}

footer .box-1 .con-2 p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
  color: #FFFFFF;
}

footer .box-2 .con-1 {
  margin-top: 73px;
}

footer .box-2 .con-1 p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
  color: #FFFFFF;
  margin: 24px 0;
}

footer .box-2 .con-2 {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

footer .box-2 .con-2 p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
  color: #FFFFFF;
}