@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  max-width: 980px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-3 {
  flex: 25% 0 0;
}
.col-4 {
  flex: 33.3% 0 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}

.card {
  background-color: white;
  box-shadow: 5px 5px 10px 0 black;
  transition: all 100ms ease-in;

  margin-bottom: 15px;
}
.card .card-image {
  width: 100%;
}
.card .card-content {
  padding: 10px 15px;
}
.card.card-horizonal {
  display: flex;
}
.card.card-horizonal .card-image {
  width: 30%;
}
.topbar {
  background-color: white;
  padding: 30px 45px;
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.logo {
  margin-right: auto;
  width: 75px;
  height: 22px;
}
.nav .nav-link {
  color: #214e41;
  font-family: "Raleway", sans-serif;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}
.nav .nav-button {
  margin-left: 30px;
  padding: 10px 5px;
  color: white;
  background-color: #43806c;
  border-radius: 6px;
  border-color: #43806c;
}
header {
  background-image: url(./img/header.png);
  background-size: contain;
  height: 675px;
  max-width: 100%;
}
header h1 {
  padding-top: 161px;
  padding-left: 120px;
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #214e41;
  margin: 0;
}
header span {
  padding-top: 339px;
  padding-left: 120px;
}
header img {
  padding-left: 120px;
  display: block;
  width: 280px;
  height: 60px;
}
header button {
  background-color: #43806c;
  border-color: #43806c;
  border-radius: 0px 6px 6px 0px;
  padding: 20px 35px;
}
.wer {
  max-width: 1200px;
  margin: 0 auto;
  height: 171px;
  align-items: center;
}
.wer img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.wer h1 {
  font-family: "Raleway", sans-serif;
  color: #214e41;
  font-size: 16px;
  margin: 5px 0;
}
.wer p {
  font-family: "Raleway", sans-serif;
  color: #214e41;
  font-size: 14px;
  margin: 0;
}
